@media (max-width: 900px) {

    .img-meta {
        left: 0%;
        top: 30%;
    }
    
    .img-meta img {
        width: 200px;
        height: 110px;
        opacity: 0.1;
        filter: invert(1);
    }

    .img-tabela {
        bottom: 120px;
    }

   }


@media (max-width: 450px) {

    .breakingBad {
        margin: 50px 0px 40px;
        font-size: 70px;
    }

    .img-meta {
        left: 2%;
        top: 22%;
    }

    .img-meta img {
        width: 100px;
        height: 75px;
    }

    .walter {
        margin-bottom: 70px;
    }

    .card-jesse {
        margin: 0px;
        width: 300px;
        padding-bottom: 25px;
    }

    .card-jesse .quote-container {
        padding-bottom: 30px;
    }

    .card-jesse .quote {
        font-size: 19px;
    }

    .card-jesse .button-heisenberg {
        width: 50px;
        height: 50px;
        margin-bottom: 10px;
    }

    .card-jesse .button-heisenberg img {
        width: 40px;
        height: 40px;
    }

    .img-tabela {
        right: 0;
        bottom: 0;
    }

    .img-tabela img {
        width: 320px;
        height: 230px;
        filter: contrast(4);
    }

    .rodape {
        height: 80px;
        padding: 5px;
    }

    .font-icon {
        font-size: 40px;
    }

    .font-icon span {
        font-size: 19px;
    }

    .font-icon p {
        padding: 10px;
        margin: 0px;
    }

}