@font-face {
    font-family: 'MinhaFontePersonalizada';
    src: url(../font/breaking_bad/BREAKING\ BAD.ttf);
}

html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

body {
    font-family: "Fira Sans", sans-serif;
    font-style: normal;
    background-image: url(../images/bb.png);
    position: relative;
    max-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.breakingBad {
    display: flex;
    justify-content: center;
    font-family: 'MinhaFontePersonalizada', sans-serif;
    color: #000000;
    margin: 50px 0px 80px;
    font-size: 110px;
    filter: invert(0.8);
}

.img-meta {
    position: absolute;
    left: 19%;
    top: 23%;
}

.img-meta img {
    width: 220px;
    height: 130px;
    opacity: 0.1;
    filter: invert(1);
}

.walter {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 150px;
}

.card-jesse {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-jesse-color);
    border-radius: 7px;
    margin: 20px;
    width: 550px;
    padding-bottom: 40px;
    z-index: 1000;
}

.card-jesse .quote-container {
    margin: 10px;
    color: var(--heisenberg-color);
    letter-spacing: 1px;
    margin-top: 30px;
    padding: 20px;
}

.card-jesse .quote {
    color: var(--heisenberg-color);
    font-size: 24px;
    font-weight: 300;
    text-align: center;
}

.card-jesse .button-heisenberg {
    position: absolute;
    bottom: 0;
    width: 60px;
    height: 60px;
    border-radius: 8%;
    border: 1px solid #008cff;
    background-color: #FFFFFF;
    transform: translateY(50%);
    transition: transform 0.2s ease-in-out;
}

.card-jesse .button-heisenberg img {
    width: 50px;
    height: 50px;
}

.card-jesse .button-heisenberg:hover {
    color: #53FFAB;
    cursor: pointer;
    box-shadow: 0 5px 15px #008cff;
}

.img-tabela {
    position: absolute;
    bottom: 0;
    z-index: 0;
}

.img-tabela img {
    width: 800px;
    height: 300px;
    filter: contrast(4);
    opacity: 0.03;
}

.walter .msg {
    color: var(--heisenberg-color);
    font-size: 11px;
    padding: 20px;
    text-align: center;
}

.walter .msg p {
    margin-bottom: 7px;
    font-size: 18px;
}

.rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    height: 90px;
    padding: 15px;
    width: 100%;
}

.font-icon {
    display: flex;
    font-family: 'MinhaFontePersonalizada', sans-serif;
    font-size: 80px;
    z-index: 1;
}

.font-icon span {
    font-size: 25px;
}

.font-icon p {
    padding: 15px;
    margin: 0px 25px;
    transition: transform 0.2s ease-in-out;
}

.font-icon p:hover {
    transform: scale(1.2);
    cursor: crosshair;
}